@import "./colors";

.addPhotosModal {
  background-color: white;
  width: 83vw;
  max-width: 720px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 1.5rem;
    color: $darkText;
    font-weight: 500;
  }

  .dropZoneArea {
    height: 245px;
    border: 3px dashed $border;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $lightText;

    svg {
      fill: $lightText;
      margin-bottom: 1rem;
    }

    h3,
    p {
      margin-bottom: 10px;
      font-size: 1rem;
    }

    .or {
      font-size: 0.8rem;
      text-transform: lowercase;
    }

    .choose {
      border: 3px solid $border;
      border-radius: 4px;
      padding: 1rem 2rem;
    }
  }
  input {
    background-color: red;
  }

  button {
    background-color: $green;
    border: none;
    border-radius: 4px;
    align-self: flex-end;
    margin-top: 1.9rem;
    font-weight: bold;
    color: $white;
    padding: 1rem 1.75rem;
    cursor: pointer;
    transition: background-color 0.3s, width 1s;

    &:hover {
      background-color: #1eb473;
    }
  }

  .done {
    width: 100%;
    pointer-events: none;
  }
}
