@import "./colors";

.card {
  height: 215px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s;
  text-decoration: none;
  box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.2);

  &:hover,
  &:active {
    transform: translateY(-8px);
    box-shadow: 0px 5px 12px -6px #00000059;
  }

  .image {
    flex: 1;
    width: 100%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: bgAnimation 0.5s;
    animation-delay: 0.3s;
  }

  @keyframes bgAnimation {
    from {
      background-position: 0 -400px;
    }
    to {
      background-position: center;
    }
  }

  .text {
    padding: 20px 0;
    background-color: $background;

    .name {
      color: $darkText;
      font-size: 1rem;
    }
  }

  .numberOfPhotos {
    color: $lightText;
    font-size: 0;
    transition: 0.2s font-size;
  }

  &:hover .numberOfPhotos {
    font-size: 0.85rem;
  }
}
