@import "./colors";

.card {
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  transition: 0.3s transform;
  box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 59px;

  &:hover,
  &:active {
    transform: translateY(-8px);
    box-shadow: 0px 5px 12px -6px #00000059;
  }

  .background-image-container {
    width: 100%;
    padding-top: 56.23%;
    overflow: hidden;
    position: relative;
    background-color: #d4d4d4;

    .image {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes bgAnimation {
    from {
      background-position: 0 -400px;
    }
    to {
      background-position: center;
    }
  }

  .text {
    padding: 20px 0;
    background-color: $background;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    .name {
      color: $darkText;
      font-size: 1rem;
    }
  }

  .numberOfPhotos {
    color: $lightText;
    font-size: 0;
    transition: 0.3s font-size;
  }

  &:hover .numberOfPhotos {
    font-size: 0.85rem;
  }
}
