@import "./colors";

.card {
  height: 215px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s;
  //   box-shadow: 0px 3px 7px -1px #bbbbbb;
  box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.2);

  &:hover,
  &:active {
    transform: translateY(-8px);

    box-shadow: 0px 5px 12px -6px #00000059;
  }

  .image {
    flex: 1;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .text {
    padding: 20px 0;
    background-color: $background;

    .name {
      color: $darkText;
      font-size: 1rem;
    }
  }
}
