@import "./colors";

.home {
  .addCategory {
    height: 215px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $darkText;
    border: 3px solid $border;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:active {
      transform: translateY(-8px);

      box-shadow: 0px 5px 12px -6px #00000059;
    }

    img {
      margin-bottom: 1rem;
    }
  }
}
