.photoCarousel {
  width: 100%;
  min-width: 200px;

  img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
  }

  .nextIcon,
  .prevIcon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transition: 0.2s fill;
    cursor: pointer;
    background: transparent;
    border: none;

    svg {
      object-fit: contain;
      fill: white;
    }

    &:hover > svg {
      fill: rgba(255, 255, 255, 0.575);
    }
  }

  .nextIcon {
    right: -2.7rem;
  }

  .prevIcon {
    left: -2.7rem;
  }

  .deleteBtn {
    position: absolute;
    top: -3rem;
  }
}
